In [27]:
import pandas as pd
import numpy as np
import folium
from geopy.distance import geodesic

In [28]:
df_3second = pd.read_csv("./locations/3second-analysis-latlng.csv")
df_erigo = pd.read_csv("./locations/erigo-analysis-latlng.csv")
df_uniqlo = pd.read_csv("./locations/uniqlo-analysis-latlng.csv")

In [29]:
df_3second

,brand,name,address,latitude,longitude
0,3second,3 SECOND 1 KARAWACI SUPER MAL,Jl.Boulevard Diponegoro Lt. UG Supermal Karawaci,-6.226802,106.607183
1,3second,3 SECOND FS LAMPUNG,Jl. Raden Intan No. 140 ABC,-5.421504,105.258067
2,3second,3 SECOND TUNJUNGAN PLAZA,TP 1 Lantai 2 Jl. Jenderal Basuki Rachmat No. ...,-7.262124,112.738754
3,3second,3 SECOND BENGKULU INDAH MALL,Bengkulu Indah Mall Lt Dasar Blok A no 7,-3.803127,102.264536
4,3second,3 SECOND 2 RUKO MALANG,Jl. Soekarno Hatta A3 Kav 2-3,-7.949357,112.616818
...,...,...,...,...,...
106,3second,3 SECOND BANDUNG PUSAT,Jln. Cimincrang No 9B,-6.937985,107.706505
107,3second,3 SECOND FS MOJOKERTO,"Jl. Mojopahit No.339, Mergelo, Kranggan, Kec. ...",-7.477260,112.432150
108,3second,3 SECOND FS GORONTALO,Jl. Prof. Dr. H.B. Jassin,0.556271,123.049606
109,3second,3 SECOND FS KATAPANG,"Jl. R. Suprapto No.93, Sampit, Kec. Delta Pawa...",-1.833160,109.966192
110,3second,3 SECOND FS TULUNGAGUNG,"Jl. Ahmad Yani Timur, Tamanan, Kampungdalem, K...",-8.066140,111.902069

In [30]:
df_erigo

,brand,name,address,latitude,longitude
0,Erigo,Aeon JGC - Jakarta Timur,Lantai 2 Pop Up Unit - Jl. Jkt Garden City Bou...,-6.172188,106.952221
1,Erigo,Armada Town Square,UG Depan Celcius\r\n,-7.503896,110.224782
2,Erigo,Bandung Indah Plaza,"GF di depan Fore - Jl. Merdeka No.56, Citarum,...",-6.908665,107.610828
3,Erigo,BINTARO X CHANGE,GF Depan Atrium JCO\r\n,-6.285379,106.727600
4,Erigo,Bogor Trade Mall,GF Depan Atrium Utama - Jl. Ir. H. Juanda No.6...,-6.604600,106.793448
...,...,...,...,...,...
81,Erigo,Yogya Grya Pahlawan - Bandung,"Atrium Lt 1 - Jl. Pahlawan No.10 - 15, Cikutra...",-6.900147,107.631930
82,Erigo,Yogya Kepatihan - Bandung,"Area Promo Koridor GF - Jl. Kepatihan No.18, B...",-6.923701,107.605811
83,Erigo,YOGYA SLAWI,Atrium Lt 1\r\n,-6.977381,109.136706
84,Erigo,Yogya Sunda 60 - Bandung,"Mini Atrium Lt.2 - Jl. Sunda No.60, Kb. Pisang...",-6.918147,107.615735
85,Erigo,YOGYA TASIKMALAYA,Samping Pintu Utama\r\n,-7.323685,108.212687

In [31]:
df_uniqlo

,brand,name,address,latitude,longitude
0,Uniqlo,UNIQLO 23 PASKAL,"Jl. Pasirkaliki,Komplek Paskal Hypersquare, An...",-6.915315,107.596094
1,Uniqlo,UNIQLO AEON MALL BSD CITY,"Jl. Grand Boulevard BSD City Tangerang, Banten",-6.304849,106.643676
2,Uniqlo,UNIQLO AEON MALL DELTAMAS,"Jl. Ganesha Boulevard, Kota Deltamas",-6.351941,107.195449
3,Uniqlo,UNIQLO AEON MALL JAKARTA GARDEN CITY,"Jl. Jkt Garden City Boulevard No.1, RT.8/RW.6,...",-6.161731,106.966014
4,Uniqlo,UNIQLO AEON MALL SENTUL CITY,"Jl. MH. Thamrin, Citaringgul, Kec. Babakan Mad...",-6.567730,106.857980
...,...,...,...,...,...
69,Uniqlo,UNIQLO TRANS STUDIO MALL BANDUNG,"Jl. Gatot Subroto No.289, Cibangkong, Kec. Bat...",-6.925005,107.636578
70,Uniqlo,UNIQLO TRANS STUDIO MALL CIBUBUR,"Jl. Alternatif Cibubur No.230, Harjamukti, Cim...",-6.375709,106.901780
71,Uniqlo,UNIQLO TRANS STUDIO MALL MAKASSAR,"Jl. HM. Dg. Patompo-Metro Tanjung Bunga, Macci...",-5.159379,119.394370
72,Uniqlo,UNIQLO TUNJUNGAN PLAZA 3,"Jl. Basuki Rahmat No.8-12, Kedungdoro, Tegalsa...",-7.263238,112.739557
73,Uniqlo,UNIQLO UNIMAS DISTRICT,"Jl. Raya Waru No.2, Krajan Kulon, Waru",-7.365994,112.728532

In [32]:
print(f"Uniqlo: {len(df_uniqlo)}")
print(f"3second: {len(df_3second)}")
print(f"Erigo: {len(df_erigo)}")

Uniqlo: 74
3second: 111
Erigo: 86

In [33]:
# Merge the dataframes
df = pd.concat([df_3second, df_erigo, df_uniqlo], ignore_index=True)
df

,brand,name,address,latitude,longitude
0,3second,3 SECOND 1 KARAWACI SUPER MAL,Jl.Boulevard Diponegoro Lt. UG Supermal Karawaci,-6.226802,106.607183
1,3second,3 SECOND FS LAMPUNG,Jl. Raden Intan No. 140 ABC,-5.421504,105.258067
2,3second,3 SECOND TUNJUNGAN PLAZA,TP 1 Lantai 2 Jl. Jenderal Basuki Rachmat No. ...,-7.262124,112.738754
3,3second,3 SECOND BENGKULU INDAH MALL,Bengkulu Indah Mall Lt Dasar Blok A no 7,-3.803127,102.264536
4,3second,3 SECOND 2 RUKO MALANG,Jl. Soekarno Hatta A3 Kav 2-3,-7.949357,112.616818
...,...,...,...,...,...
266,Uniqlo,UNIQLO TRANS STUDIO MALL BANDUNG,"Jl. Gatot Subroto No.289, Cibangkong, Kec. Bat...",-6.925005,107.636578
267,Uniqlo,UNIQLO TRANS STUDIO MALL CIBUBUR,"Jl. Alternatif Cibubur No.230, Harjamukti, Cim...",-6.375709,106.901780
268,Uniqlo,UNIQLO TRANS STUDIO MALL MAKASSAR,"Jl. HM. Dg. Patompo-Metro Tanjung Bunga, Macci...",-5.159379,119.394370
269,Uniqlo,UNIQLO TUNJUNGAN PLAZA 3,"Jl. Basuki Rahmat No.8-12, Kedungdoro, Tegalsa...",-7.263238,112.739557
270,Uniqlo,UNIQLO UNIMAS DISTRICT,"Jl. Raya Waru No.2, Krajan Kulon, Waru",-7.365994,112.728532

In [34]:
# Create a map centered around an average latitude and longitude
average_lat = df['latitude'].mean()
average_lon = df['longitude'].mean()

# Create a folium map centered on the average latitude and longitude
m = folium.Map(location=[average_lat, average_lon], zoom_start=5)

In [35]:
for index, row in df.iterrows():
    latitude = row['latitude']
    longitude = row['longitude']
    brand = row['brand']
    
    # Define color based on brand
    if brand == 'Uniqlo':
        color = 'red'
    elif brand == 'Erigo':
        color = 'green'
    elif brand == '3second':
        color = 'blue'
    else:
        color = 'gray'  # Default color for any other brands
    
    # Add marker to the map
    folium.Marker(
        location=[latitude, longitude],
        popup=f"{row['name']} - {row['address']}",
        icon=folium.Icon(color=color)
    ).add_to(m)

In [36]:
def find_clusters(df, radius_km=5):
    clusters = []
    for i, row in df.iterrows():
        store_location = (row['latitude'], row['longitude'])
        nearby_stores = [store_location]
        
        for j, other_row in df.iterrows():
            if i != j:
                other_store_location = (other_row['latitude'], other_row['longitude'])
                distance = geodesic(store_location, other_store_location).km
                if distance <= radius_km:
                    nearby_stores.append(other_store_location)
        
        if len(nearby_stores) >= 5:  # More than 5 stores within 5km
            clusters.append(store_location)
    
    return clusters

clusters = find_clusters(df)

In [37]:
for cluster in clusters:
    folium.Circle(
        location=cluster,
        radius=5000,  # 5 km radius
        color='purple',
        fill=True,
        fill_opacity=0.1
    ).add_to(m)

In [38]:
m.save('./locations/stores_map_with_clusters.html')